<!DOCTYPE html>
<html>
  <head>
    <title>Blocitoff</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
    <%= csrf_meta_tags %>
  </head>
  <body>
    <div class="container">
      <ul class="nav nav-tabs">
        <% if current_user %>
          <li>Logged in as <%= current_user.email %></li> 
          <li><%= link_to "Log out", log_out_path %></li>
        <% else %>
          <li><%= link_to "Sign up", sign_up_path %></li>
          <li><%= link_to "Log in", log_in_path %></li>
        <% end %>
      </ul>

      <% if flash[:notice] %>
        <h2><%= flash[:notice] %></h2>
      <% elsif flash[:error] %>
        <h2><%= flash[:error] %></h2>
      <% elsif flash[:alert]%>
        <h2><%= flash[:alert] %></h2>
      <% end %>
      <%= yield %>
    </div>
  </body>
</html>
